<div class="chat-container d-flex flex-column text-center align-items-center mt-3">
  <div class="user-list scrollbar" id="user-list">
    
  </div>
  <div class="display-box scrollbar" id="display-box"></div>

  <div class="form-wrapper mt-3 w-100 d-flex justify-content-center">
    <form action="" id="form" class=" d-flex flex-column flex-wrap justify-content-start align-items-start">
      <div class="message-wrapper w-100 d-flex">
        <span class="text-message me-3 text-start">Message</span>
        <input type="text" id="message-input" class="me-3 w-auto">
        <button id="message-button">Send</button>
      </div>
      <div class="Room-wrapper mt-3 w-100 d-flex">
        <span class="text-room me-3 text-start">Room</span>
        <input type="text" id="room-input" class="me-3 w-auto">
        <button id="room-button">Join</button>
      </div>
    </form>
  </div>
</div>