<div class="row justify-content-center h-100 w-100">
<div class="col-2">
    {{>side-menu route='chatroom'}}
</div>
    {{!-- connect-list --}}
    <div class="col-6 row border p-0" id="chat-room">
        <div class="col-4 border-end p-0" id="connect-users">
        <h5 class="fw-bold border-bottom mb-0 p-3">線上使用者(1)</h5>
        {{!-- 每個使用者開始 --}}
        <div class="connect-user border-bottom p-2">
            <img src="/pic/default_avatar.png" alt="" class="avatar-sm rounded-circle" id="chatroom-avatar-{{this.id}}">
            <strong>Apple</strong>
            <span>@apple</span>
        </div>
        {{!-- 每個使用者結束 --}}
        </div>
        <div class="col-8 p-0">
            <h5 class="fw-bold border-bottom mb-0 p-3">公開聊天室</h5>
            <div class="row align-items-end w-100 m-0" style="height: calc(100% - 55px);">
            <div class="col-12 p-0">
            <div id="main-logs">
              {{!-- 這是系統訊息 --}}
              <div class="row g-0 justify-content-center mb-2">
                <span class="col-auto badge rounded-pill bg-secondary bg-opacity-25 py-1 px-2 fw-light text-secondary">這裡是系統訊息</span>
              </div>
              {{!-- 這是系統訊息 --}}
              {{!-- 這是收到的訊息 --}}
              <div class="row g-0 align-items-end justify-content-start mb-2">
                <div class="col-1" style="padding-bottom:20px">
                  <img src="/pic/default_avatar.png" alt="" class="logs-avatar ms-2 rounded-circle" style="object-fit: cover; height: 40px; weight:40px;">
                </div>
                <div class="col-7">
                  <p class="received-msg bg-secondary bg-opacity-25 fs-6 py-2 px-3 mb-0 fw-light" style="border-radius: 1rem 1rem 1rem 0;">
                    基本功能的目的是驗收你對 Vue.js / Express.js 的掌握，而挑戰功能的用意是驗收你的解決問題能力。以「即時聊天」這個主題為中心，我們設計了延伸功能，雖然你無法在目前的課程裡找到挑戰功能的解法，但我們評估一旦你查找到適當的資訊，你有足夠的能力去消化相關資料並完成實作。
                  </p>
                  <small class="msg-time text-black-50 fw-bold float-start" style="font-size: 0.5rem;">下午 4:21</small>
                </div>
              </div>
              {{!-- 這是收到的訊息 --}}
              {{!-- 這是發送的訊息 --}}
              <div class="row g-0 align-items-end justify-content-end mb-2">
                <div class="col-7">
                  <p class="sended-msg bg-brand fs-6 py-2 px-3 mb-0 fw-light text-white" style="border-radius: 1rem 1rem 0 1rem;">
                    基本功能的目的是驗收你對 Vue.js / Express.js 的掌握，而挑戰功能的用意是驗收你的解決問題能力。以「即時聊天」這個主題為中心，我們設計了延伸功能，雖然你無法在目前的課程裡找到挑戰功能的解法，但我們評估一旦你查找到適當的資訊，你有足夠的能力去消化相關資料並完成實作。
                  </p>
                  <small class="msg-time text-black-50 fw-bold float-end" style="font-size: 0.5rem;">下午 4:21</small>
                </div>
                <div class="col-1" style="padding-bottom:20px">
                  <img src="/pic/default_avatar.png" alt="" class="logs-avatar ms-2 rounded-circle" style="object-fit: cover; height: 40px; weight:40px;">
                </div>
              </div>
              {{!-- 這是發送的訊息 --}}
            </div>
              {{!-- 發送訊息區塊 --}}
              <div class="col-12 row align-items-center justify-content-center mw-100 m-0 px-0 py-2 border-top">
                <label for="input-message" class="visually-hidden">input message</label>
                <input id="input-message" type="text" class="col-11 rounded-pill border-0 bg-secondary bg-opacity-10 py-1 px-3" placeholder="輸入訊息...">
                <a id="send-message" class="mb-0 col-auto p-0 ms-2"><img src="/stylesheets/svgs/send.svg" alt="" style="height: 30px; weight:30px;"></a>
              </div>
              {{!-- 發送訊息區塊 --}}
            </div>
            </div>
        </div>
    </div>
</div>